<div class="fibra">
	<h1>Aqui é FIBRAAA!!!</h1>
	<button id="b-fibra">RECEBER A FIBRA</button>
	<%= image_tag "leo.jpg", class: "img-fibra" %>

	<p>
		Quantidade de fibras: <strong>0</strong>
		<button id="add-fibra">ADICIONAR FIBRA</button>
	</p>

</div>